In [6]:
senti = pd.read_csv("senti.csv")

In [7]:
a = senti.actor1.unique()

In [8]:
b = senti.actor2.unique()

In [9]:
c = np.concatenate((a, b))

In [10]:
c = np.unique(c)

In [11]:
d = pd.DataFrame(c, columns = ["actor"])

In [12]:
d

           actor
0     AhnHyoSeop
1        BaeSuzy
2      BangMinAh
3      ChaEunWoo
4    ChaSeungWon
..           ...
123      YooAhIn
124      YooInNa
125       YooJun
126   YooSeungHo
127  YoonHyunMin

[128 rows x 1 columns]

In [13]:
d['match'] = np.nan
d['score'] = np.nan
d['linecount'] = np.nan

In [14]:
d

           actor  match  score  linecount
0     AhnHyoSeop    NaN    NaN        NaN
1        BaeSuzy    NaN    NaN        NaN
2      BangMinAh    NaN    NaN        NaN
3      ChaEunWoo    NaN    NaN        NaN
4    ChaSeungWon    NaN    NaN        NaN
..           ...    ...    ...        ...
123      YooAhIn    NaN    NaN        NaN
124      YooInNa    NaN    NaN        NaN
125       YooJun    NaN    NaN        NaN
126   YooSeungHo    NaN    NaN        NaN
127  YoonHyunMin    NaN    NaN        NaN

[128 rows x 4 columns]

In [15]:
d['match'] = d.match.astype(str)
d['score'] = d.score.astype(str)
d['linecount'] = d.linecount.astype(str)

In [16]:
maxi = 0

In [17]:
d

           actor match score linecount
0     AhnHyoSeop   nan   nan       nan
1        BaeSuzy   nan   nan       nan
2      BangMinAh   nan   nan       nan
3      ChaEunWoo   nan   nan       nan
4    ChaSeungWon   nan   nan       nan
..           ...   ...   ...       ...
123      YooAhIn   nan   nan       nan
124      YooInNa   nan   nan       nan
125       YooJun   nan   nan       nan
126   YooSeungHo   nan   nan       nan
127  YoonHyunMin   nan   nan       nan

[128 rows x 4 columns]

In [18]:
yes = 0
maxi = 0

In [19]:
for j in range(0,128):
    for i in range(0,103):
        if ((d.iloc[j, 0] == senti.iloc[i, 2] or d.iloc[j, 0] == senti.iloc[i, 3]) and senti.iloc[i, 5]>maxi):
            maxi = senti.iloc[i, 5]
            if d.iloc[j, 0] == senti.iloc[i, 2]:
                yes = 1
            if yes == 1:
                d.at[j, 'match'] = senti.iloc[i, 3]
            if yes == 0:
                d.at[j, 'match'] = senti.iloc[i, 2]
            d.at[j, 'score'] = senti.iloc[i, 5]
            d.at[j, 'linecount'] = senti.iloc[i, 4]
        yes = 0
    maxi = 0

In [20]:
d = d.sort_values("actor").reset_index().drop("index", 1)

In [21]:
d.score.mean() #needed for dashboard, to classify it as high or low chemistry

0.3044259048098802

In [22]:
d.score.median()#needed for dashboard, to classify it as high or low chemistry

0.29034474206349203

In [580]:
d.to_csv("dfR.csv")