In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
sb.set()

In [3]:
lk = pd.read_csv('url.csv', index_col = 0)
half = lk['URL'].values
links = ['https://mydramalist.com' + i + '/reviews?xlang=en-US&status=completed' for i in half]

In [8]:
lk[lk['URL']=='/55675-the-ballot']
# 'Memorials' doesn't matche the title in 'url.csv', it is also not found in 'roles.csv(cleaned_complete)', 
# maybe it's because it has a different name so after isin name doesn't match so it's dropped?

,Unnamed: 0,Title,Info,Ratings,URL
358,358,Into the Ring,"Korean Drama - 2020, 32 episodes",8.3,/55675-the-ballot

In [5]:
kdrama = pd.read_csv("review_individual.csv")
kdrama[kdrama['review'].isna()]
# check with website, NaN is when the drama has reviews, but one review is empty

             title review
11949  Good Doctor    NaN

In [4]:
kdrama = kdrama.dropna().reset_index(drop=True)

In [5]:
print('number of links:', len(links))
print(len(lk['Title'].unique())) # we notice that some dramas have same titles (but they are different dramas)
print(len(kdrama['title'].unique()))
# numbers are different because when one drama has no reviews, selector list is empty so for loop never runs

number of links: 1190
1186
910

In [6]:
# Since some dramas have same titles, we cannot use groupby, because this will group 
# different dramas with same name together
title_list = list(kdrama['title'])
dramaTitle = []
dramaCount = []
title = title_list[0]
count = 1
for t in title_list:
    if t != title:
        dramaTitle.append(title)
        dramaCount.append(count)
        count = 1
        title = t
    else:
        count += 1
dramaTitle.append(t)
dramaCount.append(count)

title_df = pd.DataFrame({'title': dramaTitle, 'count': dramaCount})
len(title_df)

911

In [7]:
title_df[title_df['title'].duplicated(keep=False)]

          title  count
428  Once Again     18
908  Once Again      1

for i in range(len(half)):
    if half[i] == '/681631-once-again':
        print(i)

/13388-mask #172
/22683-mask #820
/21576-while-you-were-sleeping #10
/1606-while-you-were-sleeping #767
/44611-i-have-been-there-once #430
/681631-once-again #1182

In [18]:
new = title_df[title_df['count']>=15]
title_keep = list(new['title'])
new

                                               title  count
0                                             Goblin    299
1                          Strong Woman Do Bong Soon    207
2                             Descendants of the Sun    194
3                                                  W    195
4                        You Who Came from the Stars    213
..                                               ...    ...
472  Wild Chives and Soy Bean Soup: 12 Years Reunion     21
481                         The Incarnation of Money     15
482                             All About My Romance     15
483                    Love Affairs in the Afternoon     16
485                              Queen: Love And War     16

[358 rows x 2 columns]

In [15]:
new = new.reset_index(drop=True)
new.to_csv('title.csv')

In [9]:
k_new = kdrama[kdrama['title'].isin(title_keep)].reset_index(drop=True)

In [10]:
# k_new = no_na.groupby('title', sort=False).aggregate({'review': 'sum'})

In [11]:
k_new[k_new['title']=='Once Again']
# the rest are conntinuous, we need to drop index 21233 manually

            title                                             review
21043  Once Again  Once Again. That's the drama name. Once Again ...
21044  Once Again  Three things you should know about me:  (a) I ...
21045  Once Again  I never write reviews so bear with me but I am...
21046  Once Again  This is probably one of the best family dramas...
21047  Once Again  I've always been a fan of long family tv serie...
21048  Once Again  So….I binge-watched it for 12h straight…Do I r...
21049  Once Again  Once Again weaves a realistic tale about secon...
21050  Once Again  Here goes another drama by the writer of 'Weig...
21051  Once Again  I feel really torn as how to rate this drama b...
21052  Once Again  This is basically like 4 regular kdramas in on...
21053  Once Again  Once Again checks off all the points I wish to...
21054  Once Again  Mini soap opera with laughs, cries and everyth...
21055  Once Again  This was an expected surprise for me. My first...
21056  Once Again  This was one of the Kdramas I watched during t...
21057  Once Again  I love family dramas and I was looking forward...
21058  Once Again  My rating on this drama is probably a bit hars...
21059  Once Again  I waited all the episodes to finish and downlo...
21060  Once Again  before i even know it, the drama has ended and...
21233  Once Again  I watched the "Movie version" of this drama wh...

In [12]:
k_new = k_new.drop(21233).reset_index(drop = True)
k_new

                     title                                             review
0                   Goblin  If you are hesitating to watch this at all, pl...
1                   Goblin  I feel compelled to write a review for Goblin ...
2                   Goblin  It must be said that Goblin is very much a som...
3                   Goblin  Every moment of it indeed shined! Goblin is a ...
4                   Goblin  Somewhere inside Goblin, buried under a mound ...
...                    ...                                                ...
21228  Queen: Love And War  I think I might have over-hyped this drama for...
21229  Queen: Love And War  I'll just gonna say it was very wonderful, it'...
21230  Queen: Love And War  This is one of my binge watched dramas after b...
21231  Queen: Love And War  The best word to sum up this kdrama is "strong...
21232  Queen: Love And War  First of all I love the acting! ML is so hands...

[21233 rows x 2 columns]

In [ ]:
k_new.to_csv('reviews.csv')

`drop = []
for i in range(len(no_na)):
    if no_na.iloc[i,0] not in title:
        drop.append(i)
no_na = no_na.drop(drop)`